* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

@import "./nav";
@import "./footer";
@import "./Crypto";
@import "./App";
